<div class="container" *ngIf="conditions$ | async">
    <div class="row">
        <h1>Your honest weather guide <i class="pi pi-fw pi-sun"></i></h1>
        <app-auto-complete
            [type]="type"
        ></app-auto-complete
            >
        <h3>Current conditions for your favourite locations</h3>
        <!-- <p>date: {{state.date | date: 'MMM d, y'}}</p> -->
        <div class="main row">
            <!-- <app-item-condition 
            class="col-4"
            *ngFor="let item of objectKeys(list)"
            [item]="list[item]"
            [location]="generalLocations[item]"
            >
            </app-item-condition> -->
        </div>
    </div>
</div>
