html {
    scroll-behavior: smooth;
  }

  body {
    font-size: 14px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $light-grey;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  body::-webkit-scrollbar {
    display: none;
  }

  html, body, .min-h_100 {
    height: fit-content;
    min-height: 100%;
  }

  [role=button] {
    cursor: pointer;
  }

  .text-bold {
    font-weight: bold;
  }

  h1 {
    text-align: center;
    width: 100%;
    margin: 20px 0;

    .pi-sun:before {
        color: #ff8100;
        font-size: 30px;
        vertical-align: initial;
    }
  }

  h2 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #54667a;
  }

  .main {
    width: 100%;
    margin-top: 55px;
    display: flex;
    background-color: white;
    padding: 20px 5px;
    border-radius: 6px;
}

h3 {
  width: 100%;
  text-align: center;
  margin: 55px 0 0 0;
  font-size: 28px;
  font-weight: bold;

  &+p {
    font-size: 15px;
    font-weight: bold;
    color: #54667a;
    margin-bottom: 0;
  }
}

.p-card {
  height: 100%;
}

.back_drop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 100;

  .p-progress-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #d62d20;
  }
  66% {
    stroke: #d62d20;
  }
  80%,
  90% {
    stroke: #d62d20;
  }
}

